# Lab - song recommender

## Day 1 - web scraping

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
#import re

In [2]:
url = 'https://www.billboard.com/charts/hot-100/'
res = requests.get(url)

res.status_code

200

In [3]:
soup = BeautifulSoup(res.text, 'html.parser')

In [4]:
top100 = soup.find_all('div', {'class': 'o-chart-results-list-row-container'})

In [5]:
def get_songs(containers):
    songs = []
    i = 0
    while i < len(containers):
        song = containers[i].find('h3').get_text()
        songs.append(song.replace('\n', '').replace('\t', ''))
        i += 1
    return songs

In [6]:
def get_artists(containers):
    artists = []
    i = 0
    while i < len(containers):
        artist = containers[i].find('span', {'class' : 'a-no-trucate'}).get_text()
        artists.append(artist.replace('\n', '').replace('\t', ''))
        i += 1
    return artists

In [7]:
artists = get_artists(top100)
songs = get_songs(top100)

In [8]:
top100_df = pd.DataFrame(zip(artists, songs), columns=['Artist', 'Song'])
top100_df.index = np.arange(1, len(top100_df) + 1)

top100_df

                                   Artist                         Song
1                             Miley Cyrus                      Flowers
2                                     SZA                    Kill Bill
3                           Morgan Wallen                   Last Night
4                  Sam Smith & Kim Petras                       Unholy
5    Metro Boomin, The Weeknd & 21 Savage                     Creepin'
..                                    ...                          ...
96                          Yandel & Feid                   Yandel 150
97                            Mac DeMarco               Heart To Heart
98                           Jordan Davis          Next Thing You Know
99                                   P!nk  Never Gonna Not Dance Again
100            SZA Featuring Travis Scott                    Open Arms

[100 rows x 2 columns]

In [15]:
top100_df['Artist'] == 'SZA'

1      False
2       True
3      False
4      False
5      False
       ...
96     False
97     False
98     False
99     False
100    False
Name: Artist, Length: 100, dtype: bool

In [14]:
top100_df.loc[(top100_df['Artist'] == 'SZA') & (top100_df['Song'] == 'Kill Bill')]

  Artist       Song
2    SZA  Kill Bill

In [9]:
def recommender(df):
    artist = input('Artist name: ').lower()
    song = input('Song name: ').lower()
    
    lower_df = df.applymap(lambda x: x.lower()) 
    songRow = lower_df.loc[(lower_df['Artist'] == artist) & (lower_df['Song'] == song)]
    
    if not songRow.empty:     
        exclude_index = songRow.index
        rec_index = np.random.choice([i for i in range(1, len(df) + 1) if i != exclude_index])
        
        recommended_artist = df.loc[rec_index, 'Artist']
        recommended_song = df.loc[rec_index, 'Song']
        
        return f'{recommended_artist} - {recommended_song}'
    
    return 'Unfortunately, the song is not in the hot list!'

In [10]:
recommender(top100_df)

Artist name: sza
Song name: asd

'Unfortunately, the song is not in the hot list!'

## Spotify

In [ ]:
import json